body{
  background: #141414;
  color: white;
}

.movie-app > .row{
  overflow-x: auto;  
  flex-wrap: nowrap;
}

/* to make the gap between movies small
.row * {
  width:auto;
}
*/

.image-container{
  position: relative;
  transition: transform 0.2s;
}

.image-container:hover{
  cursor: pointer;
  transform: scale(1.1); /* enlarge movie when hovering over it */
}

